h2 {
    font-size: 22px;
}

.todo {
    background-color: white;
    border: 1px solid #FFFF;
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 0;
    cursor: grab;
    max-height: 320px;
}

.todo:hover {
    transform: scale(1.01);
}


main {
    display: flex;
    justify-content: center;
}

.mainContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: 128px auto 0 auto;
    padding: 0 8px;
    height: 100vh;
}

.boardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.board-content-main {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 16px 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 256px;
    height: 100%;
    min-width: 250px;
    margin-right: 64px;
}

.column:last-child {
    margin-right: 0;
}

.columnHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.columnHeader button {
    border: 2px solid #2A3647;
    border-radius: 8px;
    color: #2A3647;
    font-size: 16px;
    font-weight: 600;
    padding-top: 1px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
}

.columnHeader button:hover {
    cursor: pointer;
    border-color: #29ABE2;
    color: #29ABE2;
}

.columnHeader button:active {
    border-color: #091931;
    color: #091931;
}

.drag-area {
    min-height: 200px;
    flex: 1;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-height: 60vh;
    overflow-y: scroll;
    margin-top: 16px;
}

.drag-area::-webkit-scrollbar {
    display: none;
}

.noEntry {
    background-color: white;
    border: 1px dotted #A8A8A8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background: #E7E7E7;
    color: #A8A8A8;
    text-align: center;
}

.previewTask {
    background-color: white;
    border: 1px dotted #A8A8A8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background: #E7E7E7;
    color: #A8A8A8;
}

.draggedImage {
    transform: rotate(5deg);
    padding: 8px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}


.hideTaskContent {
    color: transparent;
    background-color: transparent;
    border: 1px solid black;
}

.hideTaskContent * {
    visibility: hidden;
}


.taskStatus.user-story {
    background: #0038ff;
}

.taskStatus.technical-task {
    background: #1fd7c1;
}


.taskStatus {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    color: white;
    border-radius: 8px;
    padding: 4px 16px;
    width: fit-content;
}

.contactAvater {
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: #fff 2px solid;
    position: relative;
}

.AvatarArray {
    display: flex;
}

.AvatarArray .contactAvater:not(:first-child) {
    margin-left: -10px;
}

.AvatarArray .contactAvater {
    z-index: 1;
}

.AvatarArray .contactAvater:nth-child(n) {
    z-index: auto;
}

.AvatarArray .contactAvater:last-child {
    z-index: 10;
}


.taskFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.taskTitle {
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0 4px;
    padding-top: 14px;
    word-break: break-word;
}

.subtasks {
    padding-top: 16px;
}

.taskDescription {
    position: relative;
    z-index: 0;
    font-size: 16px;
    color: #a8a8a8;
    line-height: 1.4;
    pointer-events: none;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;

}

.todo {
    transition: transform 120ms ease;
    transform: var(--task-transform, none);
    position: relative;
}

.todo.dragging {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    /* scale: 0.9; */
    transform: var(--task-transform,none)scale(0.9);
}

.onlyMobile {
    display: none;
}

.onlyDesktop {
    display: block;
}

.search-box {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 4px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background-color: white;
}

.search-box input::placeholder {
    opacity: 0.4;
}

.search-box input {
    font-size: 20px;
    border: none;
    border-right: 1px solid #D1D1D1;
    padding: 8px;
}

.search-img {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-radius: 50px;
}

.search-img:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.searchBoard {
    display: flex;
    gap: 24px;
    align-items: center;
}

.btn-add-task {
    background-color: #2A3647;
    border: unset;
    padding: 1px 20px;
    border-radius: 8px;
    transition: all 0.15s ease;
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn-text {
    color: white;
    font-size: 21px;
    font-family: 'Inter';
    font-weight: bold;
}

.btn-plus {
    color: white;
    font-size: 21px;
    font-family: 'Inter';
    font-size: 35px;
    font-weight: 100;
    padding-bottom: 4px;
}

.btn-add-task:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.btn-add-task:active {
    background-color: #091931;
    transform: translateY(0);
}

.title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-add-task-mobile {
    background-color: #2A3647;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: none;
    margin-right: 8px;
}

.boardMoveToIcon {
    position: absolute;
    top: 16px;
    right: 16px;
}


.boardMoveToOverlay {
    background-color: #2A3647;
    color: hsl(0, 0%, 100%);
    width: 106px;
    height: 113px;
    border-radius: 20px 0px 20px 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 36px;
    right: 20px;
    z-index: 1;
    padding-inline: 60px;
}

.boardMoveToOverlay p {
    color: white;
}

.boardMoveToHeadline {
    width: 90px;
    padding-left: 9px;
    font-size: 18px;
}

.boardMoveToOverlayButtons {
    width: 90px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.boardMoveToButtonContent {
    display: flex;
    gap: 8px;
}

.processBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

.progress {
    max-width: 128px;
    width: 100%;
    height: 8px;
    background: rgb(242, 244, 247);
    border-radius: 8px;
    overflow: hidden;
}

.progressBar {
    height: 100%;
    background: rgb(59, 130, 246);
    border-radius: inherit;
    transition: width 0.3s;
}

.progressLabel {
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    margin: auto;
    padding: 32px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    inset: 40px;
    overflow: auto;
    transform: translate(300%, 0px);
    max-width: 1300px;
}


.taskDialogOpened {
    transform: translateX(0px) translateY(0px);
    transition: all 0.3s ease-in;
}

.taskDialogClosed {
    transform: translateX(300%) translateY(0px);
    transition: all 0.3s ease-in;
}

.addTaskDialogOpened {
    transform: translateX(0px) translateY(0px);
    transition: all 0.3s ease-in;
}

.addTaskDialogClosed {
    transform: translateX(200%) translateY(0px);
    transition: all 0.3s ease-in;
}

dialog::backdrop {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.taskDialogOpened::backdrop {
    opacity: 1;
    transition: all 0.25s ease-in;
}

.addTaskDialogOpened::backdrop {
    opacity: 1;
    transition: all 0.25s ease-in;
}

.subtask-checkbox {
    all: revert !important;
    appearance: auto !important;
    cursor: pointer !important;
    width: auto !important;
    height: auto !important;
}

.hidden {
    display: none;
}


@media(max-width: 1920px) {
    .mainContent {
        margin-left: 220px;
        width: calc(100% - 220px);
        box-sizing: border-box;
    }
}

@media (max-width: 1620px) {
    .column {
        gap: 8px;
        margin-right: 16px;
    }
}

@media (max-width: 1300px) {
    .mainContent {
        height: auto;
        align-items: stretch;
    }

    .board-content-main {
        display: flex;
        flex-direction: column;
        height: auto;
        flex-grow: 0;
        width: 100%;
    }

    .columnHeader {
        padding: 16px 0;
    }

    .column {
        width: 100%;
        margin-right: 0;
        flex: none;
        align-self: flex-start;
        height: auto;
    }

    .drag-area {
        display: flex;
        flex-direction: row;
        flex: none;
        flex-wrap: nowrap;
        align-items: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 16px;
        height: auto;
        min-height: 0;
        margin-top: 0;
        width: 100%;
    }

    .todo {
        flex: 0 0 300px;
        box-sizing: border-box;
    }

    .noEntry {
        height: 48px;
    }

}

@media(max-width: 1020px) {
    .boardHeader {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .searchBoard {
        margin: 16px 0;
    }
}


@media (max-width: 850px) {
    .mainContent {
        margin-left: 0;
        width: 100%;
        margin-bottom: 100px;
    }

    .btn-add-task {
        display: none;
    }

    .btn-add-task-mobile {
        display: flex;
    }

    .title-btn {
        width: 100%;
    }

    .searchBoard,
    .search-box {
        width: 100%;
        align-self: center;
    }

    .search-box {
        justify-content: space-between;
    }

    .search-box input {
        width: 90%;
    }

    #dialaogBoardTask {
        padding: 16px;
    }

    .page-container {
        margin-right: 0;
    }

}


@media (max-width: 768px) {
    .onlyMobile {
        display: block;
    }

    .onlyDesktop {
        display: none;
    }
}